.events {
  padding: 100px 0 120px 80px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;
}

.events__content {
  flex-basis: 580px; /* The initial main size of a flex item */
}

.events__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin: 32px 0;
}

.events__info-section {
  margin-top: 32px;
}

.event-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-weight: 500;
}

.event-info__icon {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.event-info__icon_type_calendar {
  background-image: url(../images/icon_calendar.svg);
}

.event-info__icon_type_pin {
  background-image: url(../images/icon_pin.svg);
}

.event-info__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
  width: fit-content;
}

.events__description {
  margin: 40px 0 60px;
}

.events__more {
  margin-top: 60px;
  color: #2f80ed;
  text-decoration: none;
}

.events__more:hover {
  color: #1f69c9;
}

.events__cover {
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 780px;
  position: relative;
  overflow: hidden;
}

.events__image {
  max-width: 100%;
}
@media screen and (max-width: 1200px) {
  .events {
    padding: 100px 80px 120px 80px;
    flex-direction: column;
    align-items: center;
  }
  .events__content {
    flex-basis: unset;
    padding-bottom: 75px;
  }
}
@media screen and (max-width: 700px) {
  .event-info__text {
    font-size: 17px;
  }
}

@media screen and (max-width: 480px) {
  .events {
    padding: 100px 40px 120px 40px;
  }
  .events__title {
    font-size: 32px;
  }
  .events__description {
    font-size: 15px;
  }
}
